:root {
    --bgcolor: rgb(135, 158, 187);
  }

body {
    background-color: var(--bgcolor);
    font-size: 1.5em;
    font-family: monospace;
    overflow-x: hidden;
}

.container {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    text-align: center;
    max-width: 500px;    
}

.buttonContainer { 
    margin: 25px;
    white-space: nowrap;
}


.algoSelector {
    font-family: monospace;
    font-size: 1em;
    margin:10px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    padding:5px; 
}

.valueDisplay {
    display: inline-block;
    width: 40px;
    margin-left: 10px;    
}

.sliderContainer {
    margin-top: 25px;
    white-space: nowrap;
}

.slider {
    width: 100%;
    max-width:50%;        
}

input[type=range] {
    height: 1em;
    appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    height: 25px;
    width: 15px;
    background: black;
    appearance: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    background: var(--bgcolor);
    border: 2px solid #000000;
  }

.sliderLabel {
    width: 100px;
    text-align:right;
    float:left;
    margin-right: 10px;
}



.controlButton {
    font-family:monospace;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0);
    margin: 0px 10px;
    padding: 10px 25px;
}

.checkboxContainer {
    width: 390px;
    margin: 50px 100px;
    text-align: center;
}

/* Customize the label (the container) */
.checkbox {
    display: block;
    position: relative;
    float: left;
    padding-left: 70px;
    text-align:left;    
    cursor: pointer;    
    width:60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
    
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
  }
  
  /* When the checkbox is checked, add a black background */
  .checkbox input:checked ~ .checkmark {
    background-color: black;
  }
  
  .checkboxLabel
  {
    margin-top:15px;    
  }


  .disable-select{
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
    -ms-user-select:none;
  }



